In [2]:
import pandas as pd

df = pd.read_csv('road_roughness_data.csv')
print(df)

           acc_x     acc_y     acc_z     speed    gyro_x    gyro_y    gyro_z  \
0       0.365116  0.167893  9.793961  0.009128 -0.133896 -0.018883  0.138092
1       0.392649  0.176273  9.771216  0.009128 -0.027084 -0.003624  0.000763
2       0.409408  0.181062  9.732909  0.009128  0.125504 -0.186729 -0.090790
3       0.371101  0.164302  9.749668  0.009128 -0.088120 -0.034142  0.046539
4       0.390255  0.159514  9.869378  0.009128 -0.179672  0.118446 -0.182343
...          ...       ...       ...       ...       ...       ...       ...
144031 -0.527921 -0.322918  9.583271  0.005715 -0.332260 -0.095177 -0.060272
144032 -0.663194 -0.575506  9.433633  0.005715 -0.240707 -0.308800 -0.182343
144033 -0.375890 -0.245106  9.957964  0.005715  0.064468 -0.156212  0.000763
144034 -0.385466 -0.091877  9.840648  0.005715 -0.423813  0.820351 -0.243378
144035 -0.575805 -0.502483  9.457575  0.005715 -0.500107  0.057411 -0.060272

        road_condition
0                    2
1                    2
2                    2
3                    2
4                    2
...                ...
144031               2
144032               2
144033               2
144034               2
144035               2

[144036 rows x 8 columns]

In [6]:
df.iloc[:,:-1]

           acc_x     acc_y     acc_z     speed    gyro_x    gyro_y    gyro_z
0       0.365116  0.167893  9.793961  0.009128 -0.133896 -0.018883  0.138092
1       0.392649  0.176273  9.771216  0.009128 -0.027084 -0.003624  0.000763
2       0.409408  0.181062  9.732909  0.009128  0.125504 -0.186729 -0.090790
3       0.371101  0.164302  9.749668  0.009128 -0.088120 -0.034142  0.046539
4       0.390255  0.159514  9.869378  0.009128 -0.179672  0.118446 -0.182343
...          ...       ...       ...       ...       ...       ...       ...
144031 -0.527921 -0.322918  9.583271  0.005715 -0.332260 -0.095177 -0.060272
144032 -0.663194 -0.575506  9.433633  0.005715 -0.240707 -0.308800 -0.182343
144033 -0.375890 -0.245106  9.957964  0.005715  0.064468 -0.156212  0.000763
144034 -0.385466 -0.091877  9.840648  0.005715 -0.423813  0.820351 -0.243378
144035 -0.575805 -0.502483  9.457575  0.005715 -0.500107  0.057411 -0.060272

[144036 rows x 7 columns]

In [7]:
df.iloc[:,-1:]

        road_condition
0                    2
1                    2
2                    2
3                    2
4                    2
...                ...
144031               2
144032               2
144033               2
144034               2
144035               2

[144036 rows x 1 columns]

In [11]:

# Import train_test_split function
from sklearn.model_selection import train_test_split

X = df.iloc[:,:-1]
#y = df.iloc[:,-1:]
y= df['road_condition']

# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3) # 70% training and 30% test

In [12]:
#Import Random Forest Model
from sklearn.ensemble import RandomForestClassifier

#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=100)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train,y_train)

y_pred=clf.predict(X_test)

In [13]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9047927611024971